
.blog{
    &__cards__card{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
        &:hover{
          .img img{
            transform: scale(1.2);
          }
        }
        @include pad{
            margin-bottom: 24px;
        }
        @include phone{
            margin-bottom: 20px;
            flex-direction: column;
        }
        .img{
            width: 57.207%;
            overflow: hidden;
            @include pad{
                width: 47.826%;
            }
            @include phone{
                width: 100%;
                margin-bottom: 8px;
            }
        }
        .img img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            transition: transform .3s ease-in-out;
            @include pad{
                height: 208px;
            }
            @include phone{
                height: 217px;
            }
        }
        .text{
            width: 40%;
            position: relative;
            @include pad {
                width: 47.826%;
            }
            @include phone{
                width: 100%;
            }
        }
        .text .title{
            color: $color-primary-dark;
            font-size: $font-xlg;
            margin-bottom: 0;
            @include pad{
                font-size: $font-med;
            }
            @include phone{
                font-size: $font-base;
            }
        }
        .sub-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            @include phone{
                margin-bottom: 0;
            }
        }
        .sub-title .engTitle{
            font-size: $font-med;
            @include pad{
                font-size: $font-base;
            }
            @include phone{
                font-size: $font-sm;
            }   
        }
        .sub-title .date{
            font-size: $font-base;
            @include pad {
                font-size: $font-sm;
            }
        }
        .article{
            font-size: $font-med;
            margin-bottom: 14px;
            @include pad{
                font-size: $font-sm;
                margin-bottom: 0;
            }
        }
        .link{
            @extend %upperCase;
            color: $color-primary-dark;
            font-size: 36px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .link-block{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }
    }
}