
.product-page{
    &__menu .list{
       display: flex;
       &__item{
           flex: 1;
           border-left: 1px solid $color-gray-100;
           border-right: 1px solid $color-gray-100;
           position: relative;
           &.active::before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 8px;
              background-color: $color-primary;
              @include phone{
                  height: 4px;
              }
           }
       }
       &__item .link{
          display: flex;
          padding: 26px 0;
          justify-content: center;
          align-items: center;
          font-size: $font-xlg;
          @extend %upperCase--med;
          @include pad {
              padding: 14px 0;
              font-size: $font-lg;
          }
          @include phone {
              padding: 6px 0;
              font-size: $font-sm;
          }
          .material-icons-outlined{
              margin-right: 10px;
              @include pad{
                  font-size: 30px;
              }
              @include phone{
                  font-size: 14px;
                  margin-right: 3px;
              }
          }
       }
    }
    &__banner{
        .items{
            display: flex;
        }
        .item{
            flex: 1;
            height: 304px;
            @include phone{
                height: 148px;
            }
        }
        .item.item-1{
            background-image: url('../images/banner/banner-1.jpg');
        }
        .item.item-2{
            background-image: url('../images/banner/banner-2.jpg');
        }
        .item.item-3{
            background-image: url('../images/banner/banner-3.jpg');
        }
        .item.item-4{
            background-image: url('../images/banner/banner-4.png');
        }
    }
    &__list{
        text-align: center;
       .title span{
           font-size: 42px;
           @include pad{
               font-size: 32px;
           }
           @include phone{
               font-size: 20px;
           }
       }
       .title{
           font-size: 32px;
           margin-bottom: 40px;
           @include pad{
               font-size: 24px;
           }
           @include phone{
               font-size: 16px;
           }
       }
       .list{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
       }
       .list .list__item{
           width: 22.972%;
           margin-bottom: 104px;
           @include pad {
               width: 47.826%;
               margin-bottom: 72px;
           }
           @include phone {
               width: 100%;
               margin-bottom: 32px;
           }
           &--lg{
               width: 31.531%;
               @include pad {
                   width: 47.826%;
               }
               @include phone {
                  width: 100%;
               }
           }
       }
       .list .list__title{
           display: flex;
           justify-content: space-between;
           font-size: 24px;
           h2{
               @extend %upperCase--reg;
           }
           span{
              @extend %upperCase--med; 
              color: $color-primary;
           }
           @include phone{
               font-size: 16px;
           }
       }
       .list .colorBlocks{
           display: flex;
           .block{
               width: 24px;
               height: 24px;
               border-radius: 4px;
               @include phone{
                   width: 16px;
                   height: 16px;
               }
           }
           .block1{
               background-color: $color-brown-300;
               margin-right: 8px;
               @include phone{
                   margin-right: 4px;
               }
           }
           .block2{
               background-color: $color-brown-100;
           }
       }
       .list .img-container{
           overflow: hidden;
       }
       .list .img{
          height: 164px;
          transition: transform .5s ease-in-out;
          @include phone{
              height: 166px;
          }
          &:hover{
              transform: scale(1.2);
          }
       }
       .list--lg .img{
           height: 224px;
           @include pad{
              height: 164px;
           }
           @include phone{
              height: 166px;
           }
       }
       .list .img-1{
           background-image: url('../images/products/products-1.png');
       }
       .list .img-2{
           background-image: url('../images/products/products-2.png');
       }
       .list .img-3{
           background-image: url('../images/products/products-3.png');
       }
       .list .img-4{
           background-image: url('../images/products/products-4.png');
       }
       .list .img-5{
           background-image: url('../images/products/products-5.jpg');
       }
       .list .img-6{
           background-image: url('../images/products/products-6.jpg');
       }
       .list .img-7{
           background-image: url('../images/products/products-7.jpg');
       }
       .list .img-8{
           background-image: url('../images/products/products-8.jpg');
       }
       .list .img-9{
           background-image: url('../images/products/products-9.jpg');
       }
       .list .img-10{
           background-image: url('../images/products/products-10.jpg');
       }
       .list .img-11{
           background-image: url('../images/products/products-11.jpg');
       }
       .list .img-12{
           background-image: url('../images/products/products-12.jpg');
       }
       .list .img-13{
           background-image: url('../images/products/products-4.png');
       }
       .list .img-14{
           background-image: url('../images/products/products-3.png');
       }
       .list .img-15{
           background-image: url('../images/products/products-2.png');
       }
       .list .img-16{
           background-image: url('../images/products/products-6.jpg');
       }
       .list .img-17{
           background-image: url('../images/products/products-11.jpg');
       }
       .list .img-18{
           background-image: url('../images/products/products-5.jpg');
       }
    }
}