
.question{
  &__subtitle{
      font-size: 32px;
      margin-bottom: 36px;
      @include pad{
          margin-bottom: 32px;
      }
      @include phone{
          margin-bottom: 24px;
          font-size: 20px;
      }
  }
  &__list{

    &__item{
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 24px;
        }
        @include phone{
            margin-bottom: 20px;
        }
    }
    &__item .title{
        font-size: 20px;
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0;
        }
        @include phone{
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
    &__item .text{
        padding-left: 6em;
        @include pad{
            padding-left: 3.5em;
        }
        @include phone{
            br:first-child{
                display: none;
            }
            padding-left: 0;
            font-size: $font-sm;
        }
    }
  }
}