
.store{
    .form__select__row{
        margin-bottom: 37px;
        @include pad{
            margin-bottom: 24px;
        }
        @include phone{
            margin-bottom: 20px;
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .map{
       width: 57.207%;
       @include pad{
           width: 100%;
           height: 422px;
       }
        @include phone{
           height: 211px;
       }
    }
}