
//英文字型設定
%upperCase{
    text-transform: uppercase;
    font-weight: $fw-black;
    &--med{
        text-transform: uppercase;
        font-weight: $fw-med;
    }
    &--reg{
        text-transform: uppercase;
        font-weight: $fw-base;
    }
}