// Roboto 字體
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
// Noto sans 字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    color: $color-dark;
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: $color-dark;
}

.container{
    max-width: $container-width;
    margin: 0 auto;
    &--px{
        @include pad {
          padding-right: 39px;
          padding-left: 39px;
        }
        @include phone {
          padding-right: 15px;
          padding-left: 15px;
        }
    }
    &--py{
        padding-top: 60px;
        padding-bottom: 80px;
        @include pad {
            padding-top: 40px;
            padding-bottom: 56px;
        }
        @include phone {
            padding-top: 32px;
            padding-bottom: 40px;
        }
    }
    &--py--lg{
        padding-top: 80px;
        padding-bottom: 160px;
        @include pad {
            padding-top: 56px;
            padding-bottom: 96px;
        }
        @include phone {
            padding-top: 32px;
            padding-bottom: 56px;
        }
    }
    &--py--sm{
        padding-top: 40px;
        padding-bottom: 160px;
        @include pad {
            padding-top: 32px;
            padding-bottom: 96px;
        }
        @include phone {
            padding-top: 28px;
            padding-bottom: 56px;
        }
    }
    &--pb--lg{
        padding-bottom: 160px;
        @include pad {
            padding-bottom: 96px;
        }
        @include phone {
            padding-bottom: 56px;
        }
    }
}

.form{
    &__label{
        display: block;
        margin-bottom: 4px;
        @include pad {
            font-size: $font-sm;
        }
    }
    &__input{
       width: 100%;
       padding: 12px 16px;
       background: transparent;
       margin-bottom: 16px;
       border: 1px solid $color-dark;
       @include pad {
           padding: 8px 12px;
           margin-bottom: 8px;
       }
    }
    &__select__row{
        display: flex;
        align-items: center;
    }
    &__select{
        font-size: 18px;
        padding: .5em 1em;
        color: #495057;
        width: 29.189%;
        @include pad{
            width: 34.347%;
            font-size: 16px;
        }
        @include phone{
            flex-grow: 1;
            font-size: 14px;
        }
    }
    &__select__label{
       font-size: $font-lg;
       margin-right: 20px;
       @include pad{
           font-size: $font-base;
       }
       @include phone{
           font-size: $font-sm;
           margin-right: 12px;
       }
    }
}
.btn{
    background: none;
    cursor: pointer;
    display: block;
    padding: 1em 0;
    text-align: center;
    transition: color .3s ease-in-out;
    border: none;
    &--primary{
        background-color: $color-primary;
        color: $color-white;
        &:hover{
          background-color: $color-primary-dark;
        }
    }
    &--dark{
        background-color: $color-dark;
        color: $color-white;
        &:hover{
          background-color: $color-primary-dark;
        }
    }
}
.pagination{
  display: flex;
  justify-content: center;
  &__list{
      display: flex;
      font-size: 18px;
      margin: 0 auto;
      @include phone{
          font-size: 16px;
      }
  }
  .page-link.next{
      background-color: #F2F2F2;
  }
  .page-link{
     padding: .6em .888em;
     border: 1px solid #555;
     display: block;
     height: 100%;
     &.active,
     &:hover,
     &.next:hover{
         background-color: $color-dark;
         color: $color-white;
     }
  }
  .page-link.pre,
  .page-link.next{
     padding: .5em .6em; 
  }

}

.main-title{
    font-size: $font-xxlg;
    font-weight: $fw-bold;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    margin-bottom: 60px;
    @include pad {
        margin-bottom: 40px;
    }
    @include phone{
        padding-left: 8px;
        font-size: 28px;
        margin-bottom: 24px;
        border-left: 4px solid #9F1213;
    }
}

.nav{
    background-color: $color-primary-dark;
    &__list{
       display: flex;
    }
    &__item &__link{
        font-size: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
        color: $color-white;
        margin-right: 48px;
        position: relative;
        @include pad{
            font-size: 16px;
            margin-right: 32px;
        }
        @include phone{
            margin-right: 0;
        }
        @include hoverLine($color-white, 6px);
    }
}

// location card 樣式
.location{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__list__card{
        margin-bottom: 32px;
        @include grid(100%, 3 , 2.7%);
        @include pad {
            margin-bottom: 20px;
            @include grid(100%, 2 , 4.347%);
            &:nth-child(3n){
                margin-right: 4.347%;
            }
        }
        @include phone{
           margin: 0;
           width: 100%;
           &:nth-child(3n){
                margin-right: 0;
            }
           margin-bottom: 16px;
        }
        .img{
           height: 224px;
           @include pad {
               height: 164px;
           }
        }
        .img1{
            background-image: url('../images/workspace/locate1.jpeg');
        }
        .img2{
            background-image: url('../images/workspace/locate2.jpg');
        }
        .img3{
            background-image: url('../images/workspace/locate3.jpg');
        }
        .img4{
            background-image: url('../images/workspace/locate4.jpg');
        }
        .img5{
            background-image: url('../images/workspace/locate5.jpg');
        }
    }
    &__list__card--lg{
        width: 40%;
        .img{
           height: 224px;
           background-image: url('../images/workspace/locate1.jpeg');
           @include pad {
               height: 164px;
           }
        }
        @include pad{
            width: 100%;
            margin-bottom: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img,
            .text{
                width: 47.826%;
            }
        }
        @include phone{
            flex-direction: column;
            margin-bottom: 16px;
            .img,
            .text{
                width: 100%;
            }
        }
    }
    &__list__card h2.title,
    &__list__card--lg h2.title{
       font-size: $font-lg;
       padding: .5em 1em;
       border: 1px solid #00000020;
       @include pad{
           font-size: $font-base;
           padding: .5em 1.5em;
       }
    }
    .contacts__list{
        padding: 16px 23px;
        border-left: 1px solid #00000020;;
        border-right: 1px solid #00000020;;
        @include pad {
            padding: 16px 28px;
        }
        .contact{
            display: flex;
            align-items: flex-start;
        }
        .contact .material-icons-outlined{
            margin-right: 10px;
            @include pad {
                font-size: 16px;
            }
        }
        .contact p{
            font-size: $font-med;
            @include pad{
                font-size: $font-sm;
            }
        }
    }
    &__list__card--lg .contacts__list{
        padding: 16px 26px;
        border-bottom: 1px solid #00000020;;;
    }
}

//helpers
.bg-cover{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.mr-lg-0{
    margin-right: 0px !important;
    @include pad {
        margin-right: auto;
    }
}

.hide-for-mobile{
    @include phone {
        display: none;
    }
}
.hide-for-pad{
    @include pad {
        display: none;
    }
}
.hide-for-desktop{
    display: none;
    @include pad {
        display: inline;
    }
}


.fw-base{
  font-weight: $fw-base;
}
.fw-med{
  font-weight: $fw-med;
}
.fw-bold{
  font-weight: $fw-bold;
}
.fw-black{
  font-weight: $fw-black;
}


//material icon
.material-icons-outlined.md-18 {
    font-size: 18px;
}
.material-icons-outlined.md-24 {
    font-size: 24px;
}
.material-icons-outlined.md-40 {
    font-size: 40px;
}
.material-icons-outlined.md-83 {
    font-size: 83px;
}